@import "mixins/size.scss";
@import "mixins/psoition.scss";
@import "mixins/text.scss";

.HeaderUser{
  @include flex;
  &Dashboard{
    @include size(177px,44px);
    background: #1D1D1D;
    border-radius: 72px;
    border: none;
    @include text(#FFFFFF, 16px, "Inter", bold);
    @include flex();
    text-align: center;
    p{
      margin-left: 9px;
    }
  }
  &Profile{
    margin-left: 10px;
    @include size(245px,44px);
    background: #4F4F4F;
    border-radius: 72px;
  }
  &Shop{
    margin-left: 10px;
    @include size(56px,44px);
    background: #1D1D1D;
    border: none;
    border-radius: 72px;
    // img{
      // @include size(19px,18px);
    // }
  }
}