@import "mixins/mixins.scss";

.AppCreateModal {
  background: #292929;

  @include size(736px, 626px);
  padding: 32px;
  box-sizing: border-box;
  @include flex(space-between, start, column);
  &Title {
    margin-bottom: 32px;
    @include text(white, 24px, "Inter");
  }
}
