@import "mixins/size.scss";
@import "mixins/psoition.scss";
@import "mixins/text.scss";

.WalletModal{
    @include absolute(120px,62%);
    @include size(352px,487px);
    background: #161616;
    z-index: 2;
    @include flex;
     border-radius: 32px;
     background: linear-gradient(to bottom, #482248, #161616);
     &Content{
        border-radius: 32px;
        @include size(349px,484px);
        background: #161616;
    }
}