@import "mixins/mixins";
.AppInputForm {
  background: #292929;
  @include size(672px, 100%);
  @include flex(space-between, start, column);
  &Title {
    @include text(white, 24px, "Inter");
    padding-bottom: 10px;
  }
}
.AppInputFormLabelLogo {
  @include size(128px, 128px);
  background: #242424;
  display: inline-block;
  border-radius: 100px;
  position: relative;
}
.AppInputFormLabelBanner {
  @include size(520px, 128px);
  position: relative;
  background: #242424;
  border-radius: 24px;
}
.AppInputFormImgLogo {
  background: #292929;
  @include size(128px, 128px);
  object-fit: cover;
  border-radius: 100px;
}
.AppInputFormImgBanner {
  @include size(520px, 128px);
  object-fit: cover;
  border-radius: 24px;
}
.AppInputFormEmptyLogo {
  @include flex;
  position: absolute;
  border: 1.5px dashed #808080;
  width: 80%;
  height: 80%;
  border-radius: 100px;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  img {
    position: absolute;
  }
}
.AppInputFormEmptyBanner {
  @include flex;
  position: absolute;
  border: 1.5px dashed #808080;
  width: 95%;
  height: 80%;
  border-radius: 23px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    margin-left: 5px;
    @include text(#808080, 15px, "Inter");
    text-align: center;
  }
}
.AppInputFormSectionImg {
  @include flex(space-around);
}
.AppInputFormButtonPink {
  @include size(180px, 44px);
}
