@import "mixins/mixins.scss";

.Footer {
  @include size(992px, 464px);
  background-color: #8c278b;
  padding: 20px;
  box-shadow: 0 0 100px #480e47;
  border-top: #8c278b 2px solid;
  border-left:#8c278b 1px solid ;
  border-right:#8c278b 1px solid ;
  background: #191919;
  margin-top: 130px;
  margin-bottom: 40px;
  border-radius: 48px;
  &Link {
    margin-top: 60px;
    margin-left: 60px;
    @include flex(start, start);
  }
  &Container {
    @include size(864px, 24px);
    @include flex(space-between);
    margin-left: 60px;
    margin-top: 160px;
    &logoContainer {
      @include flex;
    }
    &Title {
      margin-left: 10px;
      display: flex-inline;
      @include flex;
      font-size: 14px;
      font-family: "Inter";
      color: rgb(255, 255, 255);
    }
    &Logo {
      @include size(24px, 42px);
    }
    &Dot {
      display: flex;
      align-items: start;
      justify-content: center;
      @include flex;
      color: #f6289d;

      @include size(auto, min-height);
    }

    &Date {
      @include text(#4d4d4d, 14px, "Inter", bold);
    }
  }
}
