@import "mixins/mixins.scss";

.DashboardBalance {
  @include flex();
  //   display: flex;
  flex-direction: column;
  @include size(992px, 297px);
  border-radius: 28px;
  border-radius: var(--28, 28px);
  background: rgba(255, 255, 255, 0.04);
  background: color(display-p3 1 1 1 / 0.04);
  gap: 24px;
  &TotalBalance {
    @include size(944px, 65px);
    @include flex(space-between, start);
    &Founds {
      height: 100%;
      @include flex(space-around, start, column);
      @include text(#808080, 16px, "Inter", normal);
      &Balance {
        @include text(#ffffff, 28px, "Inter", 900);
        font-size: 28px;
      }
    }
    &InviteButton {
      @include flex;
      height: 44px;
      border: none;
      @include size(161px, 44px);
      padding: var(--radius-paddings-8, 8px) var(--radius-paddings-16, 16px)
        var(--radius-paddings-8, 8px) var(--16, 16px);

      gap: var(8px);
      border-radius: var(--72, 72px);
      background: rgba(255, 255, 255, 0.04);
      background: color(display-p3 1 1 1 / 0.04);
      article {
        @include flex;
        p {
          margin-left: 8px;
          @include text(#808080, 16px, "Inter", normal);
        }
      }
    }
  }
  &StoreJarBalance {
    @include size(944px, 160px);
    @include flex(space-between);
  }
}
