@import "mixins/size.scss";
@import "mixins/psoition.scss";
@import "mixins/text.scss";
.header {
  @include size(65.75%, 174px);
  @include flex(space-between, center);
  &Title {
    margin-left: 10px;
    display: flex-inline;
    @include flex;
    font-size: 21px;
    color: rgb(255, 255, 255);
  }
  &Logo {
    @include size(44px, 44px);
  }
  &Dot {
    display: flex;
    align-items: start;
    justify-content: center;
    @include flex;
    color: #f6289d;

    @include size(auto, min-height);
  }
  .logoContainer {
    @include size(min-content, auto);
    @include flex;
  }
  .logoTg {
    @include size(103px, 44px);
    background: #139ff4;
    border-radius: 44px;
    @include flex;
    text-align: center;
    padding-top: auto;
    h1 {
      // text-align: center;
      
      @include flex;
      float: right ;
      @include text(white, 16px, "Inter");
    }
    img {
      margin-left: 5px;
      margin-top: 2px;
      @include size(16px, 16px);
    }
  }
  &ButtonSection{
    height: 44px;
    width:auto;
    @include flex(space-between)
  }
  &ButtonWallet{
    @include size(151px,44px);
    background: #F6289D;
    border-radius: 72px;
    border: none;
    margin: 0px;
    margin-left: 15px;
    @include text(white, 16px, "Inter");
  }
}
