@import "mixins/size.scss";
@import "mixins/psoition.scss";
@import "mixins/text.scss";

.walletConnectModalWalletsItem {
  @include flex(start);
  @include size(288px, 48px);
  margin-bottom: 9px;
  background: #1a1a1a;
  border-radius: 16px;

  img {
    margin-left: 10px;
    @include size(24px, 24px);

    border-radius: 5px;
  }
  h1 {
    @include text(white, 15px, "Inter", black);
    margin-left: 15px;
  }
}
