@import "mixins/size.scss";
@import "mixins/psoition.scss";
@import "mixins/text.scss";

.DashboardButtonSection {
  display: flex;
  gap: 9px;
  &Button {
    margin-top: 23px;
    @include size(40px, 40px);
    border-radius: 72px;
    background: #4f4f4f;
    border: none;
    cursor: pointer;
  }
}
.DashboardButtonSectionButtonActive {
  @include flex;
  @include size(104px, 40px);
  gap: 6px;
  @include text(#ffffff, 20px, "Inter", 900);
}
