@import "mixins/size.scss";
@import "mixins/psoition.scss";
@import "mixins/text.scss";

.HeaderUser {
  @include flex;
  &Store {
    background: none;
    border: 0px;
    @include size(106px, 44px);
    @include text(#ffffff, 16px, "Inter", bold);
    @include flex;
    background: #1d1d1d;
    border-radius: 72px;
    gap: 8px;
  }
  &Dashboard {
    margin-left: 16px;
    @include size(177px, 44px);
    @include text(#ffffff, 16px, "Inter", bold);
    @include flex();
    background: #1d1d1d;
    border-radius: 72px;
    border: none;

    text-align: center;
    p {
      margin-left: 9px;
    }
  }
  &Profile {
    margin-left: 10px;
    @include flex(space-around);
    @include size(245px, 44px);
    background: #4f4f4f;
    border-radius: 72px;
    // text-align: center;
    &ContainerMoney {
      @include flex;
      gap: 5px;
      inline-size: auto;
      @include text(#ffffff, 14px, "Inter", bold);
      h1 {
        font-size: 14px;
      }
      div {
        @include size(2px, 6px);
        margin-left: 2px;
        background: white;
        border-radius: 32px;
      }
    }
    &Img {
      @include size(24px, 24px);
    }
  }
  &Shop {
    margin-left: 10px;
    @include size(56px, 44px);
    background: #1d1d1d;
    border: none;
    border-radius: 72px;
    // img{
    // @include size(19px,18px);
    // }
  }
}
