@mixin size($width, $height: auto) {
  width: $width;
  height: $height;
}
@mixin flex($just: center, $alight: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $just;
  align-items: $alight;
}
@mixin absolute($top: 0px, $left: 0px) {
  position: absolute;
  top: $top;
  left: $left;
}
@mixin mediaAbsolute($screen,$top, $left) {
  @media (max-width: $screen) {
    @include absolute($top, $left);
  }
}
