@import "mixins/size.scss";
@import "mixins/psoition.scss";
@import "mixins/text.scss";

.ItemApp {
  @include size(464px, 80px);
  @include flex(flex-start);
  gap: 16px;
  background: #1f1f1f;
  border: 12px;
  border-radius: 24px;
  border: 1.5px solid color(display-p3 1 1 1 / 0.04);
  box-sizing: border-box;
  img {
    object-fit: cover;
    position: relative;
    border-radius: 16px;
    @include size(56px, 56px);
  }
}
