@import "mixins/size.scss";
@import "mixins/psoition.scss";
@import "mixins/text.scss";

.DashboardMenu {
  margin-top: 40px;
  @include flex;
  flex-wrap: wrap;
  gap: 16px;
  @include size(992px);
}
