@import "mixins/mixins.scss";

.GamesCollectionCategoryContainer {
  margin-top: 155px;
  @include text(white, 34px, "Inter", black);
  @include flex(center, center, column);
 
  &ContainerCard {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    @include flex;
    gap: 16px;
    @include size(auto auto);
  }
}
